
<div class="container" ng-controller="ChatController">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="pull-right">
        <a href="www.google.com" class="brand">SafeLink</a>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h1>El chat, toma Papa!!!</h1>
  </div>
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list well">
        <li class="nav-header">La Gente</li>
        <li ng-repeat="user in roster" ng-bind="user">
        </li>
      </ul>
    </div>
    <div class="span9">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="span2">Usuario</th>
            <th class="span7">Texto</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="msg in messages">
            <td class="span2" ng-bind="msg.name"></td>
            <td class="span7" ng-bind="msg.text"></td>
          </tr>
        </tbody>
      </table>
      <div class="row controls">
        <form ng-submit="send()">
          <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Soy tu Padre"></div>
          <div class="input-append span7">
            <input type="text" class="span6" ng-model="text" placeholder="Lo que queres decir">
            <input type="submit" class="span1 btn btn-primary" value="Dale" ng-disabled="!text">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
